*/* {
    border:1px solid;
}
*/
#BOB img{

    width: 30px;
    height: 30px;
    ;
}

#BOB h1{
    text-align: center;
}

nav{
    text-align: center;
}

ul{
    list-style-type: none;
}

li{
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    transform: scale(1.33);
    transition-duration: 0.5s;
}


body{
    font-family: 'PT Serif', serif;
    background-color: antiquewhite;
    background-image: linear-gradient(to bottom, antiquewhite, beige);
    color: #000;
    text-align: center;
    
}

header{
    font-family: 'Montserrat', sans-serif;
    background-color: #00317a;
    background-image: linear-gradient(to right, #00317a, #0388fc);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    grid-area: header;
}

#hero{
    text-align: center;
}

#hero img{
    width: 150px;
    text-align: center;
}

#bio{
    text-align: center;
    padding: 40px;
}

#hobbies{
    background-color: #0388fc;
    background-image: linear-gradient(to bottom, #0388fc, lightblue);
    border: 3px solid;
    text-align: center;
    box-shadow: 3px 3px 10px 5px #000;
    padding: 20px;
}

#hobbies ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Gallery{
    padding: 40px; 
    grid-area: gallery;
}

#Gallery img {
    width:640px;
    max-width: 90%;
    box-shadow: 3px 3px 10px #000;
}

#Gallery figcaption{
    padding-bottom: 30px;
}

article{
    grid-area: article;
}
article p:nth-child(odd):first-letter{
    background-color: radial-gradient(#0388fc,lightblue);
    color:gray;
    /*border: 1px solid black;*/
    font-size: 30pt;
}

video{
    grid-area: video;
    text-align: center;
}

footer{
    text-align: center;
    padding-top: 40px;
    }

/*Desktop State*/
@media screen and (min-width: 960px) { /* and (max-width:1080px){*/
    main {
        clear:both;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
                             "hero    hobbies"
                             "bio     bio"
                             "gallery gallery"
                             "article article"
                             "video video";
    }

    header{
        grid-area: header;
        text-align: left;
    }

    h2{
        text-align: left;
        grid-area: header;
    }

    #hero{
        grid-area: hero;
    }

    #bio{
        grid-area: bio;
    }

    figure{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    #Gallery figcaption {
        font-family: Montserrat;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
        }

    }